/Freentship/node_modules/
/Freentship/.expo/
/Freentship/dist/
/Freentship/npm-debug.*
/Freentship/*.jks
/Freentship/*.p8
/Freentship/*.p12
/Freentship/*.key
/Freentship/*.mobileprovision
/Freentship/*.orig.*
/Freentship/web-build/
package-lock.json
/Freentship/yarn.lock
# macOS
/Freentship/.DS_Store
/Freentship/.expo-shared
